<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="tests/_support/bootstrap.php"
    colors="true"
    cacheDirectory=".build/phpunit/cache"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
  <testsuites>
    <testsuite name="Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <php>
        <env name="ENVIRONMENT" value="testing"/>
        <env name="MAIL_VIEW_PATH" value="./tests/_support/mail"/>
        <!-- <env name="DB_DRIVER" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/> -->
    </php>
</phpunit>
